@page "/types"
@using BlazorApp_4.Server
@inject HttpClient client
@inject IJSRuntime js
@inject NavigationManager uriHelper
@using Microsoft.Extensions.Logging;
@inject ILogger<Counter> logger;
<div id="asset-management">
    <div class="Polaris-Layout">
        <div class="Polaris-Layout__Section">
            <div class="Polaris-Stack">
                <div class="Polaris-Stack__Item Polaris-Stack__Item--fill">
                    <h2 class="Polaris-Heading">

                        <span class="current">
                            Asset Management
                        </span>

                    </h2>
                </div>

            </div>
        </div>
        <div class="Polaris-Layout__Section">
            <div class="Polaris-Card">
                <div class="Polaris-Card__Section">
                    <div class="Polaris-Filters">
                        <div class="Polaris-Filters-ConnectedFilterControl__ProxyButtonContainer" aria-hidden="true">
                            <div data-key="availability">
                                <button id="Activator-availability" type="button" class="Polaris-Button">
                                    <span class="Polaris-Button__Content">
                                        <span class="Polaris-Button__Text">Availability</span><span class="Polaris-Button__Icon">
                                            <div class="Polaris-Button__DisclosureIcon">
                                                <span class="Polaris-Icon">
                                                    <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                        <path d="M5 8l5 5 5-5z" fill-rule="evenodd"></path>
                                                    </svg>
                                                </span>
                                            </div>
                                        </span>
                                    </span>
                                </button>
                            </div>
                        </div>
                        <div class="Polaris-Filters-ConnectedFilterControl__Wrapper">
                            <div class="Polaris-Filters-ConnectedFilterControl Polaris-Filters-ConnectedFilterControl--right">
                                <div class="Polaris-Filters-ConnectedFilterControl__CenterContainer">
                                    <div class="Polaris-Filters-ConnectedFilterControl__Item">
                                        <div class="Polaris-Labelled--hidden">
                                            <div class="Polaris-Labelled__LabelWrapper">
                                                <div class="Polaris-Label"><label id="PolarisTextField34Label" for="PolarisTextField34" class="Polaris-Label__Text">Filter items</label></div>
                                            </div>
                                            <div class="Polaris-Connected">
                                                <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                    <div class="Polaris-TextField">
                                                        <div class="Polaris-TextField__Prefix" id="PolarisTextField34Prefix">
                                                            <span class="Polaris-Filters__SearchIcon">
                                                                <span class="Polaris-Icon">
                                                                    <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                                        <path d="M8 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8m9.707 4.293l-4.82-4.82A5.968 5.968 0 0 0 14 8 6 6 0 0 0 2 8a6 6 0 0 0 6 6 5.968 5.968 0 0 0 3.473-1.113l4.82 4.82a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414" fill-rule="evenodd"></path>
                                                                    </svg>
                                                                </span>
                                                            </span>
                                                        </div><input id="searchDevices" placeholder="Filter Device Types" class="Polaris-TextField__Input Polaris-TextField__Input--hasClearButton" aria-invalid="false" aria-multiline="false" @oninput="@((ui) => { SearchTypes(ui.Value.ToString()); })">
                                                        <div class="Polaris-TextField__Backdrop"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*<div class="Polaris-Filters-ConnectedFilterControl__RightContainer">
                                    <div class="Polaris-Filters-ConnectedFilterControl__Item">
                                        <div>
                                            <button id="Activator-availability" type="button" class="Polaris-Button" tabindex="0" aria-controls="Polarispopover13" aria-owns="Polarispopover13" aria-expanded="true" @onclick="ShowPopover">
                                                <span class="Polaris-Button__Content">
                                                    <span class="Polaris-Button__Text">Availability</span>
                                                    <span class="Polaris-Button__Icon">
                                                        <div class="Polaris-Button__DisclosureIcon"><span class="Polaris-Icon"><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true"><path d="M5 8l5 5 5-5H5z"></path></svg></span></div>
                                                    </span>
                                                </span>
                                            </button>
                                            <div id="Polarispopover13" class="Polaris-PositionedOverlay Polaris-Popover__PopoverOverlay @(isShow ? "Polaris-Popover__PopoverOverlay--open" : "Polaris-Popover__PopoverOverlay--close")" style="width: max-content">
                                                <div class="Polaris-Popover ml-0">
                                                    <div class="Polaris-Popover__Wrapper">
                                                        <div tabindex="-1" class="Polaris-Popover__Content">
                                                            <div class="Polaris-Popover__Pane Polaris-Scrollable Polaris-Scrollable--vertical" data-polaris-scrollable="true">
                                                                <div class="Polaris-Popover__Section">
                                                                    <div>
                                                                        <div class="Polaris-Stack Polaris-Stack--vertical Polaris-Stack--spacingTight">
                                                                            <div class="Polaris-Stack__Item">
                                                                                <fieldset class="Polaris-ChoiceList Polaris-ChoiceList--titleHidden" id="PolarisChoiceList5[]" aria-invalid="false">
                                                                                    <legend class="Polaris-ChoiceList__Title">Availability</legend>
                                                                                    <ul class="Polaris-ChoiceList__Choices">
                                                                                        <li>
                                                                                            <label class="Polaris-Choice" for="DeviceDisabled">
                                                                                                <span class="Polaris-Choice__Control">
                                                                                                    <span class="Polaris-Checkbox">
                                                                                                        <input id="DeviceDisabled" type="checkbox" class="Polaris-Checkbox__Input" aria-invalid="false" role="checkbox" aria-checked="false" value="Online Store">
                                                                                                        <span class="Polaris-Checkbox__Backdrop"></span>
                                                                                                        <span class="Polaris-Checkbox__Icon"><span class="Polaris-Icon"><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true"><path d="M8.315 13.859l-3.182-3.417a.506.506 0 0 1 0-.684l.643-.683a.437.437 0 0 1 .642 0l2.22 2.393 4.942-5.327a.436.436 0 0 1 .643 0l.643.684a.504.504 0 0 1 0 .683l-5.91 6.35a.437.437 0 0 1-.642 0"></path></svg></span></span>
                                                                                                    </span>
                                                                                                </span>
                                                                                                <span class="Polaris-Choice__Label">Disabled Devices</span>
                                                                                            </label>
                                                                                        </li>
                                                                                    </ul>
                                                                                </fieldset>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>*@

                            </div>


                            <div class="Polaris-Filters-ConnectedFilterControl__AuxiliaryContainer">
                                <div style="padding-left: 8px;">
                                    <a href="/types/create">
                                        <button type="button" class="Polaris-Button" id="addNewDevice">
                                            <span class="Polaris-Button__Content">
                                                <span class="Polaris-Button__Text">New Type</span>
                                            </span>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Polaris-Card__Section">
                    <div id="listDevices">
                        <div class="Polaris-Card">

                            <div class="Polaris-DataTable">

                                <div class="Polaris-DataTable__ScrollContainer">
                                    <table class="Polaris-DataTable__Table">
                                        <thead>
                                            <tr>
                                                <th data-polaris-header-cell="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop Polaris-DataTable__Cell--firstColumn Polaris-DataTable__Cell--header" scope="col">Type ID</th>
                                                <th data-polaris-header-cell="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop Polaris-DataTable__Cell--header" scope="col">Type Name</th>
                                                <th data-polaris-header-cell="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop Polaris-DataTable__Cell--header" scope="col">Short Name</th>
                                                <th data-polaris-header-cell="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop Polaris-DataTable__Cell--header Polaris-DataTable__Cell--header Polaris-DataTable__Cell--numeric" scope="col"></th>

                                            </tr>

                                        </thead>
                                        <tbody>
                                            @if (types == null)
                                            {
                                                <tr>
                                                    <td colspan="4">
                                                        <div class="Polaris-SkeletonBodyText__SkeletonBodyTextContainer">
                                                            <div class="Polaris-SkeletonBodyText"></div>
                                                            <div class="Polaris-SkeletonBodyText"></div>
                                                            <div class="Polaris-SkeletonBodyText"></div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                            else if (types.Length == 0)
                                            {
                                                <tr>
                                                    <td colspan="3">
                                                        <div class="empty-results">
                                                            <p class="Polaris-DisplayText Polaris-DisplayText--sizeSmall">No Device types found</p>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                            else
                                            {
                                                int c = 1;

                                                foreach (var type in types)
                                                {

                                                    <tr class="Polaris-DataTable__TableRow">

                                                        <th class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop Polaris-DataTable__Cell--firstColumn" scope="row">
                                                            @type.Typeid

                                                        </th>
                                                        <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop">

                                                            @type.Name


                                                        </td>
                                                        <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop">

                                                            @type.Shortname


                                                        </td>
                                                        <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop Polaris-DataTable__Cell--numeric">
                                                            <div class="Polaris-ButtonGroup Polaris-ButtonGroup--segmented" data-buttongroup-segmented="true" style="justify-content: flex-end">
                                                                <div class="Polaris-ButtonGroup__Item"><button type="button" class="Polaris-Button" @onclick="@(() => EditPage(type.Typeid))"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Edit</span></span></button></div>
                                                                <div class="Polaris-ButtonGroup__Item"><button type="button" class="Polaris-Button Polaris-Button--destructive" @onclick="@(() => Delete(type.Typeid))"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Delete</span></span></button></div>

                                                            </div>
                                                        </td>


                                                    </tr>
                                                    c++;
                                                }
                                            }


                                        </tbody>

                                    </table>
                                </div>



                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

</div>
<div id="modal-AddandEdit" class="Polaris-Modal-Dialog__Container" data-polaris-layer="true" data-polaris-overlay="true" style="display: none">

    <div class="Polaris-Modal-Dialog__Modal" id="add-edit-form">

    </div>

</div>
<div id="modal-HistoryUsage" class="Polaris-Modal-Dialog__Container" data-polaris-layer="true" data-polaris-overlay="true" style="display: none">

    <div class="Polaris-Modal-Dialog__Modal" id="HistoryUsage">

    </div>

</div>

@code
{
    string value;
    public TblDeviceTypes[] types;
    protected override async Task OnInitializedAsync()
    {
        types = await client.GetFromJsonAsync<TblDeviceTypes[]>("devicetypes");
    }

    async Task Delete(int typeid)
    {

        var type = types.FirstOrDefault(t => t.Typeid == typeid);
        if (await js.InvokeAsync<bool>("confirm", $"Do you want to delete {type.Name}?"))
        {
            await client.DeleteAsync($"devicetypes/{typeid}");
            await OnInitializedAsync();
        }
    }
    private void EditPage(int typeid)
    {
        uriHelper.NavigateTo($"types/edit/{typeid}");
    }
    private bool isShow = false;
    private void ShowPopover()
    {
        isShow = !isShow;
    }
    protected async Task SearchTypes(string s)
    {
        logger.LogWarning(s);
        OnInitializedAsync();
        types = types.Where(t => t.Name.ToLower().Contains(s.ToLower())).ToArray();
    }
}